.productManagement .productView {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    @import "../styles/_main.scss";

    h1 {
        margin-top: 18px;
        text-align: center;
    }

    ul {
        margin-top: 40px;
        display: inline-block;
        list-style-type: none;

        li {
            padding: 8px;
            display: inline;
            margin-left: 15px;
            border: 1px solid black;
            border-bottom: none;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            &:nth-child(1) {
                margin-left: 0px;
            }

            &.selected {
                background-color: lightgray;
            }

            &[disabled] {
                color: lightgray;
                cursor: not-allowed;
            }
        }
    }

    i {
        float: right;
        cursor: pointer;
        font-size: 22px;
        margin-top: 33px;
        margin-right: 20px;

        span {
            top: -3px;
            font-size: 16px;
            margin-left: 5px;
            position: relative;
        }
    }

    div.panelFrame {
        top: -4px;
        width: 98%;
        display: none;
        margin-left: 20px;
        position: relative;
        border-radius: 6px;
        border: 1px solid black;

        p.panelFrame {
            text-align: center;
            margin-top: 250px;
            margin-bottom: 250px;
        }
    }
}
