.productManagement.create-edit-brick tr.opts {
  color: black; }

.productManagement.create-edit-brick td.opts {
  width: 100px; }

.productManagement.create-edit-brick input#brick_length {
  margin-bottom: 8px; }

.productManagement.create-edit-brick input#values {
  border-bottom: none; }

.productManagement.create-edit-brick span#brick_id {
  margin-left: 5px; }

.productManagement.create-edit-brick span.length {
  top: -2px;
  margin-left: 3px;
  margin-right: 8px;
  position: relative; }

.productManagement.create-edit-brick div.values {
  height: 150px;
  overflow-y: auto; }

.productManagement.create-edit-brick div.add {
  width: 25%;
  margin-top: 6px;
  margin-left: 20px;
  padding-top: 6px;
  vertical-align: top;
  display: inline-block; }

.productManagement.create-edit-brick i {
  color: black; }

.productManagement.create-edit-brick i.fa.fa-edit {
  top: 3px;
  cursor: pointer;
  margin-right: 6px;
  position: relative; }

.productManagement.create-edit-brick i.fa.fa-trash {
  float: right;
  margin-top: 2px;
  margin-right: 7px; }

.productManagement.create-edit-brick div.brick-error {
  top: 50px;
  left: 700px;
  width: 400px;
  height: 156px;
  position: absolute;
  border-radius: 4px;
  border: 2px solid deepskyblue; }

.productManagement.create-edit-brick div.error-blk {
  padding-left: 20px;
  margin-bottom: 30px; }

.productManagement.create-edit-brick div.error-msg {
  padding-top: 4px;
  vertical-align: top;
  display: inline-block; }

.productManagement.create-edit-brick div.error-msg.icon {
  width: 10%; }

.productManagement.create-edit-brick div.error-msg.msg {
  width: 90%;
  padding-left: 6px; }

.productManagement.create-edit-brick i.fa-times-circle {
  color: red;
  font-size: 30px; }

.productManagement.create-edit-brick p.error {
  padding: 4px;
  background-color: deepskyblue; }

.productManagement.create-edit-brick button.error {
  width: 80px;
  float: none;
  color: black;
  padding: 4px;
  margin: auto;
  display: block;
  background-color: white;
  border: 1px solid deepskyblue; }

.productManagement.create-edit-brick .fa.bricks {
  font-size: 20px; }

.productManagement.create-edit-brick div.sk-spinner {
  top: 300px;
  width: 53%;
  float: right;
  z-index: 1000;
  position: relative; }

.productManagement.create-edit-brick div.product-error {
  top: 300px;
  left: 700px;
  width: 400px;
  height: 156px;
  position: absolute;
  border-radius: 4px;
  border: 2px solid deepskyblue; }
  .productManagement.create-edit-brick div.product-error p {
    padding: 4px;
    background-color: deepskyblue; }
  .productManagement.create-edit-brick div.product-error div.error-blk {
    padding-left: 20px;
    margin-bottom: 30px; }
    .productManagement.create-edit-brick div.product-error div.error-blk div.error-msg {
      padding-top: 4px;
      vertical-align: top;
      display: inline-block; }
      .productManagement.create-edit-brick div.product-error div.error-blk div.error-msg.icon {
        color: red;
        width: 10%;
        font-size: 30px; }
      .productManagement.create-edit-brick div.product-error div.error-blk div.error-msg.msg {
        width: 90%;
        padding-left: 6px; }
  .productManagement.create-edit-brick div.product-error button {
    width: 80px;
    float: none;
    color: black;
    padding: 4px;
    margin: auto;
    display: block;
    background-color: white;
    border: 1px solid deepskyblue; }

.productManagement.create-edit-brick div.headWrapper div.product {
  width: 50%;
  vertical-align: top;
  display: inline-block; }

.productManagement.create-edit-brick div.headWrapper div.button {
  width: 50%;
  margin-top: 15px;
  display: inline-block; }

.productManagement.create-edit-brick div.actiontooltips {
  position: relative;
  display: inline-block; }
  .productManagement.create-edit-brick div.actiontooltips:nth-child(2) {
    margin-left: 4px; }
  .productManagement.create-edit-brick div.actiontooltips i {
    color: black;
    cursor: pointer;
    padding-top: 3px;
    font-size: 20px !important; }

.productManagement.create-edit-brick div.actiontooltips span.actiontooltips_text {
  visibility: hidden;
  width: 35px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 252%;
  margin-left: -60px;
  border: 1px solid lightgray; }

.productManagement.create-edit-brick div.actiontooltips:hover span.actiontooltips_text {
  visibility: visible; }

.productManagement.create-edit-brick div.actiontooltips span.actiontooltips_text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent; }

.productManagement.create-edit-brick table {
  width: 100%; }
  .productManagement.create-edit-brick table tr.body:hover {
    color: ghostwhite;
    background: lightgray !important; }
  .productManagement.create-edit-brick table tr.body:nth-child(odd) {
    background: whitesmoke; }
  .productManagement.create-edit-brick table tr td {
    cursor: default; }
    .productManagement.create-edit-brick table tr td.name:hover {
      cursor: pointer; }

.productManagement.create-edit-brick i:hover {
  cursor: pointer; }
